* {
    font-size: 2.5vh;
}

div.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
    padding-top: 15vh;
}

div.formSelector {
    background-color: #deffda;
    border-radius: 2vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 82vh;
    width: 50vh;    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

label {
    align-self: start;
    margin-left: 8vh;
    margin-bottom: 0.7vh;
}

input {
    margin-bottom: 2vh;
    padding: 0 2vh 0 2vh;
    width: 35vh;
}


/* Omitimos el input de la imagen de perfil */
input:not([name='photo']) {
    border-radius: 1vh;
    border: none;
    box-shadow: inset 0 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
    height: 5vh;
}

textarea {
    border-radius: 1vh;
    border: none;
    box-shadow: inset 0 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
    margin-bottom: 2vh;
    resize: none;
    padding: 2vh 2vh 0 2vh;
    height: 10vh;
    width: 70%;
}


/* Botones de selección Login y SignUp */ 
button:not([name='enviar']) {
    border-radius: 1vh;
    margin-top: 4vh;
    height: 6vh;
    width: 20vh;
}

button[aria-pressed='true'] {
    background-color: rgb(35, 218, 35) !important;
}

button[aria-pressed='false'] {
    background-color: rgb(150, 255, 150) !important;
}


/* Botones de Enviar en ambos formularios */
button[name='enviar'] {
    border-radius: 1vh;
    border: none;
    background-color: rgb(35, 218, 35);
    margin: 4vh;
    height: 6vh;
    width: 35vh;
    position: relative;
    right: 2px;
    bottom: 15px;
}
