/* Div global de Home */
div.Home {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

/* Div que contiene todo el Login y el Signup */
div.formSelector {
  height: 82vh;
  width: 50vh;
  background-color: #deffda;
  border-radius: 2vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Botones de selección Login y SignUp */
div.formSelector button:not([name="enviar"]) {
  margin-top: 4vh;
  height: 6vh;
  width: 20vh;
  border-radius: 1vh;
  color: black;
}

/* Forms Login y SingUp */
div.formSelector form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

/* Labels que estén en Home */
div.formSelector label {
  align-self: flex-start;
  margin-left: 8vh;
}

/* Inputs de forma global */
div.formSelector input {
  margin-bottom: 2vh;
  padding: 0 2vh 0 2vh;
  width: 35vh;
}

/* Omitimos el input de la imagen de perfil */
div.formSelector input:not([name="photo"]) {
  height: 5vh;
  border: none;
  border-radius: 1vh;
  box-shadow: inset 0 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
}

/* Textarea de SignUp */
div.formSelector textarea {
  padding: 2vh 2vh 0 2vh;
  height: 10vh;
  resize: none;
  border: none;
  border-radius: 1vh;
  box-shadow: inset 0 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
}

/* Botones de selección Login y SignUp */
div.formSelector button[aria-pressed="true"] {
  background-color: rgb(35, 218, 35) !important;
}

/* Botones de selección Login y SignUp */
div.formSelector button[aria-pressed="false"] {
  background-color: rgb(150, 255, 150) !important;
}

/* Botones de Enviar en ambos formularios */
div.formSelector button[name="enviar"] {
  margin: 2vh;
  height: 6vh;
  width: 35vh;
  background-color: rgb(0, 174, 255);
  border: none;
  border-radius: 1vh;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* Input file de SignUp */
form.signup > [type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

/* Input file y label de SignUp */
form.signup > [type="file"] + label {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 1.5vh 4vh;
  background: rgb(35, 218, 35);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

/* Div que contiene todo el Login y el Signup responsive, con margen para los labels */
@media (max-width: 325px) {
  div.formSelector {
    width: 48vh;
  }
  div.formSelector label {
    margin-left: 7vh;
  }
}

@media (max-width: 310px) {
  div.formSelector {
    width: 45vh;
  }
  div.formSelector label {
    margin-left: 5.5vh;
  }
}

@media (max-width: 294px) {
  div.formSelector {
    width: 43vh;
  }
  div.formSelector label {
    margin-left: 4.5vh;
  }
}

@media (max-width: 280px) {
  div.formSelector {
    width: 41vh;
  }
  div.formSelector label {
    margin-left: 3.5vh;
  }
}
