/* MODAL AÑADIR ARCHIVO */

/* Botón cerrar Modal */
button.btnCloseModalAddFile {
  right: 4vh;
  top: 2vh;
  height: 0;
  width: 0;
  position: absolute;
  transition: none;
  background-color: transparent;
  box-shadow: none;
}

/* Form de añadir carpeta */
form.addFileForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1;
  width: 90%;
  margin: 2vh;
}

/* h6 dentro del form */
form.addFileForm > h6 {
  margin-bottom: 1vh;
  overflow-wrap: break-word;
  text-align: center;
}

/* Input file de añadir archivo */
form.addFileForm > [type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

/* Input tipo file y su label de añadir archivo */
form.addFileForm > [type="file"] + label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5vh;
  padding: 1.5vh;
  width: 100%;
  background: rgb(35, 218, 35);
  border-radius: 1vh;
  color: #fff;
  cursor: pointer;
}

/* Botón de añadir archivo */
form.addFileForm > button {
  padding: 2vh;
  width: 100%;
  background-color: rgb(0, 174, 255);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1vh;
}

/* MODAL AÑADIR CARPETA */

/* Botón cerrar Modal */
button.btnCloseModalAddFolder {
  right: 4vh;
  top: 2vh;
  height: 0;
  width: 0;
  position: absolute;
  transition: none;
  background-color: transparent;
  box-shadow: none;
}
