/* MODAL DE VISUALIZACION DE ARCHIVO */

/* Botón cerrar Modal */
button.btnCloseModalViewFile {
  right: 4vh;
  top: 2vh;
  height: 0;
  width: 0;
  position: absolute;
  transition: none;
  background-color: transparent;
  box-shadow: none;
}

/* Div que contiene el label, nombre del archivo y botones de descargar/eliminar */
div.divViewFile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  margin: 2vh;
  padding: 3vh;
}

/* Label con el nombre del archivo */
label.fileData {
  margin: 2vh 0 1vh 0;
  padding: 2vh;
  background-color: rgb(243, 243, 243);
  border-radius: 1vh;
  overflow-wrap: break-word;
  text-align: center;
}

/* Div que contiene botones de descargar/eliminar archivo */
div.divBtnFile {
  display: flex;
  align-self: flex-end;
  margin-top: 2vh;
}

/* Botón descargar archivo */
div.divBtnFile button.btnDownloadFile {
  height: 4vh;
  width: 6vh;
  background-color: rgb(0, 174, 255) !important;
  border: none;
  border-radius: 1vh;
  color: white;
  font-size: 4vh;
}

/* Botón eliminar archivo */
div.divBtnFile button.btnDeleteFile {
  margin-left: 2vh;
  height: 4vh;
  width: 6vh;
  background-color: rgb(233, 53, 53) !important;
  border: none;
  border-radius: 1vh;
  color: white;
  font-size: 4vh;
}
