header {
    background-color: rgba(91, 231, 180, 1);
    height: 9vh;
    width: 100%;
    color: white;
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
}

header.tokenHeader {
    justify-content: space-between;
    padding: 1vh;
}

a {
    text-decoration: none;
}

h1 {
    text-shadow: 0.5vh 0 0 #00a307;
    font-size: 5vh;
    color: white;
}
