footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 5vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  background-color: rgba(91, 231, 180, 1);
}

h5 {
  color: white;
  letter-spacing: 1px;
  text-shadow: 0.4vh 0 0 #00a307;
}
