footer {
    background-color: rgba(91, 231, 180, 1);
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    bottom: 0;
    position: fixed;
}

h5 {
    color: white;
    text-shadow: 0.4vh 0 0 #00a307;
    letter-spacing: 1px;
}
