* {
    font-size: 2.5vh;
}

div.Disk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
}

div.folderScroll {
    background-color: rgb(102, 167, 18);
    border: 0.5vh solid #000000;
    overflow: auto;
    white-space: nowrap;
    width: 90%;
}


div.folderScroll a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  
div.folderScroll a:hover {
    background-color: #777;
}

button.btnFolderAdd{
    color: white;
    font-size: 2.5vh;
    background-color: rgb(0, 174, 255);
    border-radius: 50%;
    border: 0.3vh solid rgb(0, 0, 0);
    margin: auto;
    margin-left: 1vh;
    height: 4.5vh;
    width: 4.5vh;
}

div.directory{
    align-self: flex-start;
    padding-top: 4vh;
}

.MuiBreadcrumbs-root{
    color: white;
    align-self: flex-start;
    border-radius: 0.8vh 0.8vh 0.8vh 0.8vh;
    border: 0.4vh solid #000000;
    background-color: rgb(86, 136, 39);
}

button{
    color: white;
    font-size: 2.5vh;
    background-color: rgb(0, 174, 255);
    border-radius: 50%;
    border: 0.3vh solid rgb(0, 0, 0);
    margin: auto;
    margin-left: 1vh;
    height: 4.5vh;
    width: 4.5vh;
}