* {
    font-size: 2.5vh;
}

div.Disk {
    padding-top: 15vh;
}

div.divFolderAdd{
    margin: auto;
}

div.folderScroll {
    display: flex;
    align-items: center;
    background-color: rgb(102, 167, 18);
    border: 0.5vh solid #000000;
    margin: auto;
    overflow: auto;
    padding: 2vh;
    width: 90%;
}

div.folderScroll button.btnFolderAdd{
    background-color: rgb(0, 174, 255);
    border: 0.3vh solid rgb(0, 0, 0);
    color: white;
    font-size: 4vh;
    height: 5vh;
    width: 5vh;
    left: 7.5vh;
    top: 13.2vh; 
}

div.folderScroll a {
    color: white;
    padding: 0 3vh 0 3vh;
    text-decoration: none;
}
  
div.folderScroll a:hover {
    background-color: #777;
}

div.directory{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    gap: 5vh;
}

.MuiBreadcrumbs-root{
    border-radius: 0 1vh 1vh 0 ; 
    border: none;
    box-shadow: inset 0vh 0.4vh 0vh 0vh rgba(0, 0, 0, 0.25);
    padding: 0 2vh 0 2vh;
}

div.Disk button.btnDownloadFolder{
    border-radius: 1vh 1vh 1vh 1vh ; 
    border: none;
    color: white;
    font-size: 4vh;
    background-color: rgb(0, 174, 255);
    height: 4vh;
    width: 6vh;
}

.MuiIconButton-root {
    background-color: red;
    border: none;
}
